{% extends 'base.html.twig' %}

{% block title %}Read Stats Dashboard{% endblock %}

{% block body %}
    <header class="box-border sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none py-5 justify-center">
        <h1 class="text-center font-bold text-lg">Read Stats Dashboard</h1>
    </header>

    <main class="box-border mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5">
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ author_number }}
                    </span>
                    <div class="flex justify-between">
                        <span class="text-sm font-light">Auteurs lus</span>
                        <span class="text-sm italic font-light">dont {{ new_author_number }} découverts cette année</span>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ book_number.total_count }}
                    </span>
                    <div class="flex justify-between">
                        <span class="text-sm font-light">Romans lus</span>
                        <span class="text-sm italic font-light">dont {{ book_number.year_count }} cette année</span>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ manga_number.total_count }}
                    </span>
                    <div class="flex justify-between">
                        <span class="text-sm font-light">Manga lus</span>
                        <span class="text-sm font-light">dont {{ manga_number.year_count }} cette année</span>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ avg_month }} / mois
                    </span>
                    <span class="text-sm font-light">en moyenne sur les 2 dernières années</span>
                </div>
            </div>
        </div>

        <div class="mt-6 grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
            <div class="col-span-12 xl:col-span-8 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Répartition lectures par mois</h2>
                </div>
                <div class="mt-10">
                    {{ render_chart(history_chart) }}
                </div>
            </div>
            <div class="col-span-12 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200 flex items-baseline">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Top Auteurs</h2>
                    <p class="text-sm font-light ml-2">(mangas exclus)</p>
                </div>
                <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="authors-tops-tab" data-tabs-toggle="#authors-tops-content" role="tablist">
                        <li class="me-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="authors-top-recents-tab" data-tabs-target="#authors-top-recents" type="button" role="tab" aria-controls="authors-top-recents" aria-selected="true">Depuis {{ since_year }}</button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="authors-top-current-tab" data-tabs-target="#authors-top-current" type="button" role="tab" aria-controls="authors-top-current" aria-selected="false">
                                En {{ "now"|date("Y") }}</button>
                        </li>
                        <li class="me-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="authors-top-all-time-tab" data-tabs-target="#authors-top-all-time" type="button" role="tab" aria-controls="authors-top-all-time" aria-selected="false">Tout</button>
                        </li>
                    </ul>
                </div>
                <div id="authors-tops-content">
                    <ol class="divide-y divide-gray-100" id="authors-top-recents" role="tabpanel" aria-labelledby="authors-top-recents-tab">
                        {{ include('dashboard/authors-top.html.twig', {authors_top: authors_top}) }}
                    </ol>
                    <ol class="hidden divide-y divide-gray-100" id="authors-top-current" role="tabpanel" aria-labelledby="authors-top-current-tab">
                        {{ include('dashboard/authors-top.html.twig', {authors_top: authors_top_year}) }}
                    </ol>
                    <ol class="hidden divide-y divide-gray-100" id="authors-top-all-time" role="tabpanel" aria-labelledby="authors-top-all-time-tab">
                        {{ include('dashboard/authors-top.html.twig', {authors_top: authors_top_alltime}) }}
                    </ol>
                </div>
            </div>
        </div>

        <div class="mt-6 grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
            <div class="col-span-6 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Répartition par support</h2>
                </div>
                {{ render_chart(support_chart) }}
            </div>
            <div class="col-span-6 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200 flex items-baseline">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Série vs tomes unique</h2>
                    <p class="text-sm font-light ml-2">(mangas exclus)</p>
                </div>
                {{ render_chart(series_chart) }}
            </div>
            <div class="col-span-6 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200 flex items-baseline">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Répartition par theme</h2>
                    <p class="text-sm font-light ml-2">(limité au top 15)</p>
                </div>
                {{ render_chart(tags_chart) }}
            </div>
        </div>
    </main>


{% endblock %}
