{% extends 'base.html.twig' %}

{% block title %}Read Stats Dashboard{% endblock %}

{% block body %}
    <header class="box-border sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none py-5 justify-center">
        <h1 class="text-center font-bold text-lg">Read Stats Dashboard</h1>
    </header>

    <main class="box-border mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5">
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ author_number }}
                    </span>
                    <div class="flex justify-between">
                        <span class="text-sm font-light">Auteurs lus</span>
                        <span class="text-sm italic font-light">dont {{ new_author_number }} découverts cette année</span>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ book_number.total_count }}
                    </span>
                    <div class="flex justify-between">
                        <span class="text-sm font-light">Romans lus</span>
                        <span class="text-sm italic font-light">dont {{ book_number.year_count }} cette année</span>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ manga_number.total_count }}
                    </span>
                    <div class="flex justify-between">
                        <span class="text-sm font-light">Manga lus</span>
                        <span class="text-sm font-light">dont {{ manga_number.year_count }} cette année</span>
                    </div>
                </div>
            </div>
            <div class="rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div>
                    <span class="text-2xl block font-bold text-black dark:text-white">
                        {{ avg_month }} / mois
                    </span>
                    <span class="text-sm font-light">en moyenne sur les 2 dernières années</span>
                </div>
            </div>
        </div>

        <div class="mt-6 grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
            <div class="col-span-12 xl:col-span-8 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Répartition lectures par mois</h2>
                </div>
                {{ render_chart(history_chart) }}
            </div>
            <div class="col-span-12 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200 flex items-baseline">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Top Auteurs</h2>
                    <p class="text-sm font-light ml-2">(mangas exclus)</p>
                </div>
                <div>
                    <ol class="divide-y divide-gray-100">
                        {% set i = 1  %}
                        {% for author in authors_top %}
                            <li class="flex justify-between gap-x-6 py-5">
                                <div class="flex items-center">
                                    <span class="mr-2 p-2 w-7 h-7 flex justify-center items-center rounded-full bg-gray-200 text-bold">{{  i }}</span>
                                    <span>{{ author.firstname }} {{ author.lastname }}</span>
                                </div>
                                <span>{{ author.book_count }}</span>
                                {% set i = i + 1 %}
                            </li>
                        {% endfor %}
                    </ol>
                </div>

            </div>
        </div>

        <div class="mt-6 grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
            <div class="col-span-6 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Répartition par support</h2>
                </div>
                {{ render_chart(support_chart) }}
            </div>
            <div class="col-span-6 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200 flex items-baseline">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Série vs tomes unique</h2>
                    <p class="text-sm font-light ml-2">(mangas exclus)</p>
                </div>
                {{ render_chart(series_chart) }}
            </div>
            <div class="col-span-6 xl:col-span-4 rounded-lg border border-stroke bg-white p-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b-2 pb-2 border-gray-200 flex items-baseline">
                    <h2 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Répartition par theme</h2>
                    <p class="text-sm font-light ml-2">(limité au top 15)</p>
                </div>
                {{ render_chart(tags_chart) }}
            </div>
        </div>
    </main>


{% endblock %}
